.logo{
    margin-right: 5px;

}
.logo:nth-child(1){
    margin-left: 20px;
}
.tags{
    padding: 10px;
}
.dropdown{
    z-index: 5;
}
@media only screen and (max-width: 600px) {
    .text{
        display: none;
   
    }
    .logo{
        font-size: 20px;
        margin-right: 5px;
    }
    .laplogo img{
        width: 80%;
    }
  }