
.logo{
    margin-right: 5px;
    font-size: 20px;

}
.logo:nth-child(1){
    margin-left: 20px;
}
.tags{
    padding: 10px;
}
.inputbtn{
    margin-left: 50px;
    width: 600px;
}
.dropdown{
    z-index: 5;
}
.text{
    font-size: 16px;
}
@media only screen and (max-width: 1024px) {
    .inputbtn{
        margin-left: 50px;
        width: 50%;
    }
  }
@media only screen and (max-width: 600px) {
    .text{
        display: none;
    }
    .logo{
        font-size: 20px;
        margin-right: 5px;
    }
    .laplogo img{
        display: none;
    }
    .inputbtn{
        display: none;
    }
  }